<% @states.each do |state| %>
	<% running = !state["idle"] && !state["blocked"] %>
	<tr class="<%= "success" if running %> <%= "error" if state["blocked"] %>">
		<td><%= state["host"]%></td>
		<td><%= state["id"].split("|")[1]%></td>
		<td><%= state["uuid"]%></td>
		<td><%= state["idle"]%></td>
		<td><%= state["ack_ping"]%></td>
		<td><%= l(Time.parse(state["run_since"])) if  state["run_since"]%></td>
		<td><%= state["callback_url"]%></td>
		<td><%= state["blocked"]%></td>
	</tr>
<% end %>

