<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
	<%= javascript_include_tag  "jquery-2.0.0.min"%>
  <%= stylesheet_link_tag "admin/application" %>
  <%= yield :head %>
</head>

<body>
 <div class="container-fluid top">
   <div class="row-fluid">
     <div class="span2">
       <div class="well" id="nav-well">
       <ul class="nav nav-list">
         <li class="nav-header">Admin Vulcain</li>
         <li><%= link_to("Monitor",admin_monitors_path) %></li>
         <li><%= link_to("Logs",admin_logs_path) %></li>
       </ul>
       </div>
     </div>
     <div class="span10">
       <%= yield %>
     </div>
   </div>
 </div>
</body>
</html>
